*~
cintcode/bin/cintsys64
cintcode/bin/m68kasm
cintcode/bin/rastsys64
cintcode/cin64/m68kasm
cintcode/env64.sh
cintcode/litender64
cintcode/obj/*.o
cintcode/sysc/INT.h
natbcpl/cmpltest
natbcpl/hello
natbcpl/obj/*.o
natbcpl/prog
natbcpl/sial/*.sial
natbcpl/sysc/INT.h
natbcpl/tempc/*.c
natbcpl/tempc/*.h
natbcpl/temps/*.s
natbcpl/tst
natbcpl/a.out
